<%-include('../partials/head')%>
 
  <%-include('../partials/header')%>

<hr>

<body>  <!--CoMIENZA BODY-->
<h1>¡ Bienvenido Vendedor/a !</h1>
<div class="contenedor">
 
 <!--CAJA1--> 
    <div class="caja1fdp"> 
      
      <h3>Datos del Producto ID: <%= product.product_id%></h3>
      
      <form action="/products/edit/<%= product.product_id %>" method="POST" >

    
    <label for="product_name">Nombre:</label>
    <input class="inputstyle" type="text" name="product_name" value="<%= product.product_name%>">
    <label for="product_price" >Precio:</label>
    <input class="inputstyle" type="number" name="product_price" value="<%= product.product_price%>">
    <label for="product_waist">Talle:</label>
    <input class="inputstyle" type="text" name="product_waist" value="<%= product.product_waist%>">
    <label for="product_category">Categoría:</label>
    <input class="inputstyle" type="text" name="product_category" value="<%= product.product_category%>">
    <label for="product_waist">Cantidad:</label>
    <input class="inputstyle" type="number" name="product_quantity" value="<%= product.product_quantity%>">
    <label for="product_detail">Detalle de producto:</label>
    <input class="inputstyle" type="text" name="product_description" value="<%= product.product_description%>">
    
           
       <button type="submit" class="inputstyle"> Guardar Cambios</button>
       <button type="reset" class="inputstyle"> Cancelar</button>

         
      </div>
      </form>
       </div>
       

</div>


</body>

                                        <hr>
  <%-include('../partials/footer')%>