<body>  <!--CoMIENZA BODY-->
    
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/stylesheets/styleFormularioDeProducto.css">
   <%-include('../partials/header')%>
    

    <h2 class="h2ul">Listado de productos:</h2>

   <div class="caja1list">
     <div clas="textlist"> ID</div>
     <div clas="textlist">Nombre</div>
     <div clas="textlist">Precio</div>
     <div clas="textlist">Talle</div>
     <div clas="textlist">Categoría</div>
     <div clas="textlist">Cantidad</div>
     <div clas="textlist">Detalle de producto</div> 
     <div clas="textlist">Acciones</div> 
   </div>

   <% for(var i = 0; i < products.length; i++){ %>
   
    <div class="caja2list" >
     
      <div clas="textlist"><%=products[i].product_id%></div>
      <div clas="textlist"><%=products[i].product_name%></div>
      <div clas="textlist"><%=products[i].product_price%></div>
      <div clas="textlist"><%=products[i].product_waist%></div>
      <div clas="textlist"><%=products[i].product_category%></div>
      <div clas="textlist"><%=products[i].product_quantity%></div>
      <div clas="textlist"><%=products[i].product_description%></div>
      <div clas="textlist"><a href="/products/edit/<%= products[i].product_id%>">Editar</a>
      <a href="/products/destroy/<%= products[i].product_id%>">Eliminar</a></div>
    </div>

     <% } %>
   

     <div class="caja2list" >
       <h3><a href="/products/create"> Agregar nuevo producto</a></h3>
     </div>
  

</body>


<%-include('../partials/footer')%>