<body>  <!--CoMIENZA BODY-->
    <div class="cajauser">
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/stylesheets/styleFormularioDeProducto.css">
  <%-include('../partials/header')%>
    

    <h2 class="h2ul">Listado de productos:</h2>
<div class="caja1">
    <ul>
      <% for (let i = 0; i < users.length; i++) { %>
<li>
  <a href="/users/detail/<%= users[i].id %>" ><%= users[i].nombre %></a>

  <form method="POST" action="/users/edit/?_method=PUT">  
    <button> Editar </button>
    </form>
    <form method="POST" action="/users/delete/<%= users[i].id %>?_method=DELETE">  
      <button type="submit"> Borrar </button>
    </form>
 
</li>
     <% } %>
    </ul>
  </div>

  <div>
    <h2 class="h2ul"> Buscar<h2>
      
      <form action="/buscador" method="GET">
        <input type="text" name="busqueda">
        <button type="submit" value="busqueda">Buscar</button>
      </form>
    
  </div>

  <div>

    <h2 class="h2ul">Agregar nuevo producto:</h2>

    <form action="/users/formulariodeproducto" method="POST">
    <button class="btncargauls">Agregar</button>
    </form>
  </div>
    </body>

  <%-include('../partials/footer')%>