<%-include('../partials/head')%>
 
  <%-include('../partials/header')%>
<body>
    <h1>CONTACTOS:</h1>

    <div class="caja1">
<ul> 
 <% for(let i=0; i < contactos.length; i++) { %>
<li>
    <a href="/instagram/<%= contactos[i].username %>"><%= contactos[i].nombre %></a>
</li>
<% } %>
</ul>
</div>
</body>



<%-include('../partials/footer')%>