<%-include('./partials/head')%>
 
<%-include('./partials/header')%>

<body>
    <h1>
        Editando producto : 
        <%= nombre %>
        <%= precio %>
        <%= talle %>
    </h1>















    
</body>

<%-include('./partials/footer')%>